<% if current_user %>
<h1>Hey <%= current_user.name %>!</h1>
<% end %>

<a href="/products/new">Create new Product</a>


    <h1 class="imagine">Enjoy our products:</h1>

<div class="imagine">
<% @products.each_slice(3) do |products_slice| %>

  <div class="row">
    <% products_slice.each do |product| %>

      <div class="col-md-4">
          <p> <a style="color: purple;" href="/products/<%=  product.id %>"> <%= product.name %></a></p>
          <p>$<%= product.price %></p> 
          <p><img src="<%= product.images.first.url if product.images.any? %>" alt=""></p> 
          <p>"<%= product.description %>"</p> 
          <p><a href="/products/<%= product.id %>/edit">Edit</a></p> 
      </div>  

    <% end %>
  </div>

<% end %>
</div>


<p><%= link_to "Sort by Price, low to high", "/products?sort=price", method: :get %></p>
<p><%= link_to "Sort by Price, high to low", "/products?sort_desc=price", method: :get %></p>
<p><%= link_to "Show discount items", "/products?discount=price", method: :get %></p>
<!-- <p><%# link_to "Feeling Lucky (tm google)", "/products/#{Product.all.sample.id}", method: :get %></p> -->
<p><%= link_to "Feeling Lucky (tm google)", "/products/rand", method: :get %></p>

<%= form_tag "/products/search", method: :get do %>
<div> Search for a product: <input type="text" name="search"> </div>
  <div> <input type="submit" value="Go"></div>
  <% end %>


  <div>You have visited <%= @counter %> times. You're obsessed.</div>